.main {
    margin-top: 20px;
}

.navbar {
    background-color: #3054B6;
}

.navbar-brand-name {
    color: white;
}

.navbar-brand-name>img {
    margin-right: -20px;
    width: 125px;
    height: 80px;
    display: inline-block;
    float: left;
}

#text-brand {
    color: white;
    padding-top: 10px;
    margin-bottom: -10px;
}


.sidebar-menu {
    /*background-color: aliceblue;*/
    border: 1px solid none;
    margin-left: 25px;
}

.sidebar-menu .nav-pills .nav-link {
    margin-top: 15px;

}

.sidebar-content {
    /*background-color: aliceblue;*/
    border: 1px solid #3054B6;
}

.pemisah {
    margin-right: 30px;
}

#button-next {

    color: white;
    background-color: #3054B6;
}

.custom-form {
    margin-top: 15px;
}

.tab-pane.fade .tab-summary {
    margin: 20px auto;
}

#res_summary .summary-content {
    margin: 20px auto;
}

/*for error summary*/

.table th {
    background-color: #FFB751;
}

.table tr:hover {
    background-color: #f2f2f2;
    color: #3054B6;
}

/*end error summary*/


/*for heading summary*/

.nav-item {
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 200px;
}

.form-row .nav-pills .nav-link {
    border-radius: 200px;
}

#summary-result {
    margin-top: -20px;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #3054B6;
}

#summary-result a {
    color: white;
}

/*end of heading summary*/

/*for summary card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 100px;
}

#card-error {
    background-color: #AD0E0E;
    color: white;
}

#card-dijawab {
    background-color: #3054b6;
    color: white;
}

#card-remark {
    background-color: #FFB751;
    color: white;
}

#card-valid {
    background-color: #0AA06E;
    color: white;
}

#submit {
    margin-top: 15px;
    border-style: none;
    color: white;
    width: 200px;
    margin-left: 15px;
    background-color: #3054b6;
}

/*end summary card*/

/* Warning */

.is-warning {
    border-color: #ffc107;
}


.warning-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #ffc107;
}

/* end warning */

/*durasiwaktu page*/

.cover {
    margin-top: 80px;
    color: #3054B6;
}

#alerting {
    margin-top: 80px;
}

/*end durasipage*/